@model workforce_part_2.Models.ViewModels.TrainingProgramDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingProgram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.TrainingProgramName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.TrainingProgramName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.MaxNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.MaxNumber)
        </dd>
        @foreach (var employee in Model.Employee)
        {
            @employee.FirstName

        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrainingProgram.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
